body, html{
	height: 100%;
}
footer{
	position: relative;
	height: 100px;
	margin-top: 50px;
}

.enlaces {
    position: absolute;
    margin-left: 135px;
    margin-top: -20px;
		height: 100%;
	}
.text-link{
	display: inline-block;
	vertical-align:middle;
}
img{
	vertical-align: middle;
}
.cookies{

  	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 500px;
    z-index: 999999;
    display: block;

}
.info-cookies{
	margin: auto;
    position: relative;
    top: 0px;
    height: 40px;
    width: 100%;
    text-align:center;
		vertical-align: middle; /*no lo coge*/
    background-color: #bac7ba;
}
